
@{
    ViewData["Title"] = "About";
    Layout = "/Views/Shop/_ShopLayout.cshtml";
}

<h2>About</h2>
<div>Hello Professor here are your login credentials: Firstname: Rich, Lastname: Fry, Password: 1234</div>

