
@{
    ViewData["Title"] = "Home";
    Layout = "/Views/Shop/_ShopLayout.cshtml";
}

<div class="text-center">
    <h2>Welcome To My BookStore!</h2>
    <ul>
        <li class="btn btn-primary"><a asp-area="" asp-controller="Shop" asp-action="Login" style="color:white">Login</a></li>
        <li class="btn btn-primary"><a asp-area="" asp-controller="Shop" asp-action="Register" style="color:white">Sign Up</a></li>
        <li class="btn btn-primary"><a asp-area="" asp-controller="Shop" asp-action="About" style="color:white">View About Page</a></li>
    </ul>
</div>